body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}

.popup {
	z-index: 150;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;

	// .popup_show
	&_show {
		visibility: visible;
		overflow: auto;
		pointer-events: auto;

		body::after {
			opacity: 1;
		}

		// .popup__content
		.popup__content {
			visibility: visible;
			transform: scale(1);
			transition: 0.5s ease transform 0s;
		}
	}

	// .popup__wrapper
	&__wrapper {
		display: flex;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
	}

	// .popup__content
	&__content {
		visibility: hidden;
		transform: scale(0);
		background-color: var(--bgColor);
		width: 100%;
		max-width: 100%;
		@include adaptiveValue("padding-left", 65, 20);
		@include adaptiveValue("padding-right", 65, 20);
		@include adaptiveValue("padding-top", 80, 64);
		@include adaptiveValue("padding-bottom", 80, 64);
		transition: $transition ease transform 0s;

		.lock & {
			visibility: visible;
		}
	}
	// .popup__close
	&__close {
		position: absolute;
		@include adaptiveValue("top", 40, 20);
		@include adaptiveValue("right", 40, 20);
		font-size: rem(28);
		transform: rotate(45deg);

		&:focus-visible {
			outline: 0;
		}
	}

	// .popup__text
	&__text {
		@media (min-width: $mobile) {
			@include adaptiveValue("padding-right", 80, 60, 1580, 992, 1);
		}
	}

	// .popup__title
	&__title {
		font-weight: 300;
		@include adaptiveValue("font-size", 36, 24);
		max-width: rem(373);

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 110, 40);
		}
	}

	// .popup_request
	&_request {
		// .popup__text
		.popup__text {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		.form {
			height: 100%;
			display: grid;
			align-items: flex-start;

			// .form__row
			&__row {
				max-width: rem(400);
			}

			// .form__submit
			&__submit {
				align-self: flex-end;

				@media (min-width: $mobile) {
					justify-self: flex-end;
				}
			}
		}
	}
}
