// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
}
// Спойлер
.spollers__item {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 60, 32);
	}
}
// Заголовок спойлера
.spollers__title {
	font-weight: 300;
	@include adaptiveValue("font-size", 22, 16);
	line-height: math.div(26, 22);
	width: 100%;
	cursor: default;
	text-align: left;
	position: relative;
	padding-right: rem(50);

	._spoller-init & {
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			right: rem(10);
			top: 50%;
			background-color: $DGrey;
			height: rem(2);
			width: rem(15);
			transition: transform 0.5s ease 0s;
		}
		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}
		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}

		&._spoller-active {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
	}
}
// Контент спойлера
.spollers__body {
	padding-top: rem(20);
	font-weight: 300;
	@include adaptiveValue("font-size", 18, 14);
	line-height: math.div(24, 18);
}
