// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
}
// Спойлер
.spollers__item {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 60, 32);
	}
}
// Заголовок спойлера
.spollers__title {
	font-weight: 300;
	@include adaptiveValue("font-size", 22, 16);
	line-height: math.div(26, 22);
	width: 100%;
	cursor: default;
	text-align: left;
	position: relative;

	._spoller-init & {
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;

		&::after {
			content: "\e909";
			@extend %ic;
			color: $DGrey;
			font-size: rem(26);
			transition: $transition ease transform 0s;
		}

		&._spoller-active {
			&::after {
				transform: rotate(45deg);
			}
		}
	}
}
// Контент спойлера
.spollers__body {
	padding-top: rem(20);
	font-weight: 300;
	@include adaptiveValue("font-size", 18, 14);
	line-height: math.div(24, 18);
}
