// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
}
// Спойлер
.spollers__item {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 60, 42, 768, 375, 2);
	}
}
// Заголовок спойлера
.spollers__title {
	font-size: rem(18);
	line-height: math.div(26, 22);
	width: 100%;
	cursor: default;
	text-align: left;
	position: relative;

	@media (min-width: $mobile) {
		font-size: rem(22);
	}

	._spoller-init & {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		cursor: pointer;

		@media (any-hover: hover) {
			transition: $transition ease color 0s;

			&:hover {
				color: var(--DGrey);
			}
		}

		&::after {
			content: "\e909";
			@extend %ic;
			color: $DGrey;
			font-size: rem(26);
			margin-left: rem(20);
			transition: $transition ease transform, $transition color 0s;
		}

		&._spoller-active {
			&::after {
				transform: rotate(45deg);
			}
		}
	}
}
// Контент спойлера
.spollers__body {
	padding-top: rem(20);
	font-weight: 300;
	@include adaptiveValue("font-size", 18, 14);
	line-height: math.div(24, 18);
}
