// preview ------------------------------------------------------------------------------------------------------------------------------
.preview {
    min-height: calc(var(--vh, 1vh) * 100 - rem(89));
    display: flex;
    padding-top: rem(26);
    padding-bottom: rem(100);

    @media (max-width:$tablet){
        margin-bottom: rem(125);
    }

    // .preview__container
    &__container {
        width: 100%;
        font-weight: 300;
        position: relative;
        padding-left: rem(30);
        padding-right: rem(30);
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (min-width: $mobile) {
            @include adaptiveValue("padding-left", 49, 38, 1528, 744, 1);
            @include adaptiveValue("padding-right", 49, 38, 1528, 744, 1);
        }
    }

    // .preview__social
    &__social {
        display: none;

        @media (min-width: $mobile) {
            position: absolute;
            @include adaptiveValue("right", 50, 43, 1528, 744, 1);
            top: 50%;
            transform: rotate(-180deg) translateY(-50%);
            writing-mode: vertical-rl;
            display: flex;

            & > * {
                &:not(:last-child) {
                    margin-bottom: rem(14);
                }
            }
        }
    }

    // .preview__body
    &__body {
        display: flex;
        flex-direction: column;

        @media (min-width: $mobile) {
            @include adaptiveValue("padding-left", 78, 53, 1528, 744, 1);
            padding-right: rem(32);
        }
        @media (max-width: $tablet) {
            height: 100%;
        }
    }

    // .preview__title
    &__title {
        font-size: rem(100);
        line-height: 1;
        flex: 1;

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 40);
        }

        @media (min-width: $tablet) {
            max-width: rem(650);
        }
        @media (max-width: $tablet) {
            max-width: rem(370);
            line-height: 0.9;
        }

        span {
            & > div {
                margin-left: rem(-10);
                margin-right: rem(-10);
                @include adaptiveValue("margin-top", -12, -7);
                @include adaptiveValue("margin-bottom", -12, -7);

                &:nth-child(2) {
                    div {
                        @media (min-width: $tablet) {
                            &::first-letter {
                                padding-left: rem(50);
                            }
                        }
                    }
                }
            }
        }
    }

    // .preview__subtitle
    &__subtitle {
        @include adaptiveValue("font-size", 46, 36);
        line-height: math.div(55, 46);
        @include adaptiveValue("max-width", 500, 300, 1528, 744, 1);
        position: relative;

        @media (min-width: $mobile) {
            @include adaptiveValue("margin-right", 152, 0, 1528, 992, 1);
        }
        @media (min-width: $mobileM) {
            margin-left: auto;
        }

        span > div {
            @include adaptiveValue("margin-top", -10, -6);
            @include adaptiveValue("margin-bottom", -10, -6);
        }

        .link-circle {
            position: absolute;
            bottom: -55px;
            margin-left: rem(15);
        }
    }

    // .preview__scroll
    &__scroll {
        display: none;

        @media (min-width: $mobile) {
            display: block;
            @include adaptiveValue("padding-left", 91, 53, 1528, 744, 1);
            @include adaptiveValue("margin-top", -48, -98, 1528, 744, 1);
        }

        button,
        a {
            @media (min-width: $mobile) {
                display: inline-flex;
                padding-left: rem(5);
                padding-right: rem(5);
                margin-left: rem(-5);
                margin-right: rem(-5);
                font-size: rem(98);
                color: var(--DGrey);
                transition: $transition ease color, $transition transform 0s;

                @media (any-hover: hover) {
                    &:hover {
                        color: var(--mainColor);
                        transform: translateY(rem(3));
                    }
                }
            }
        }
    }
}

.social {
    font-weight: 400;
    font-size: rem(14);
    line-height: 1;
    color: var(--DGrey);

    @media (min-width: $tablet) {
        font-size: rem(12);
    }

    // .social__item
    &__item {
        a {
            transition: $transition ease color 0s;

            @media (any-hover: hover) {
                &:hover {
                    color: var(--mainColor);
                }
            }
        }
    }

    // .social__separator
    &__separator {
        opacity: 0.3;
    }
}

// about ------------------------------------------------------------------------------------------------------------------------------
.about {
    padding-top: 0;

    // .about__container
    &__container {
    }

    // .about__images
    &__images {
        @media (min-width: $tablet) {
            grid-template-columns: 1fr 1fr;
        }
        @media (min-width: $mobileM) and (max-width: $tablet) {
            grid-template-columns: 67% 33%;
        }
        @media (min-width: $mobileM) {
            display: grid;
            justify-items: flex-end;
            align-items: flex-end;
        }
    }

    // .about__image
    &__image {
        &:nth-child(2n-1) {
            @include adaptiveValue("max-width", 778, 450, 1520, 575, 1);

            @media (max-width: $mobileM) {
                @include adaptiveValue("max-width", 450, 264, 575, 375, 1);
            }
        }
        &:nth-child(2n) {
            @include adaptiveValue("max-width", 520, 240, 1520, 575, 1);

            @media (min-width: $mobileM) {
                margin-bottom: -(percent(230, 520));
            }
            @media (max-width: $mobile) {
                max-width: 100%;
            }
            @media (max-width: $mobileM) {
                @include adaptiveValue("max-width", 520, 350, 575, 375, 3);
            }
        }
    }

    // .about__content
    &__content {
        display: grid;

        &:not(:first-child) {
            @include adaptiveValue("margin-top", 140, 70);
        }
        @media (min-width: $mobile) {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
    }

    // .about__body
    &__body {
        display: grid;
        @include adaptiveValue("row-gap", 96, 62);
        @include adaptiveValue("padding-left", 163, 90, 1528, 744, 2);
        @include adaptiveValue("max-width", 635, 442, 1528, 744, 1);

        @media (min-width: $mobile) {
            &:not(:last-child) {
                margin-right: rem(20);
            }
        }
    }

    // .about__caption
    &__caption {
        font-weight: 300;
        font-size: rem(40);
        line-height: math.div(48, 40);

        span {
            display: block;
            font-size: rem(50);
            line-height: math.div(60, 50);
            margin-bottom: rem(25);

            @media (min-width: $tablet) {
                margin-bottom: rem(15);
            }
        }

        em {
            font-family: $fontFamily;
        }
    }

    // .about__text
    &__text {
        @extend %firstletter;

        p {
            font-size: rem(22);
            line-height: math.div(31, 22);
        }
    }

    // .about__title
    &__title {
        @media (max-width: $mobile) {
            display: none;
        }
    }
}

// categories ------------------------------------------------------------------------------------------------------------------------------
.categories {
    padding-top: 0;
    overflow: hidden;

    &:not(:last-child) {
        @include adaptiveValue("padding-bottom", 200, 150);
    }

    // .categories__container
    &__container {
    }

    // .categories__items
    &__items {
        @include adaptiveValue("padding-top", 151, 108, 744, 375, 2);
        @include adaptiveValue("margin-left", 163, 90, 1528, 744, 2);
        display: grid;
        row-gap: rem(38);

        @media (min-width: $mobile) {
            border-top: 1px solid var(--DGrey);
        }
    }

    // .categories__item
    &__item {
        font-weight: 300;
        @include adaptiveValue("font-size", 100, 80, 1528, 744, 1);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        transition: 1s ease transform 0s;

        @media (max-width: $mobile) {
            flex-direction: row;
            transform: translateX(-150%);
        }

        &::before {
            @media (min-width: $mobile) {
                font-size: rem(62);
                color: var(--DGrey);
                margin-left: rem(20);
                transition: $transition ease transform 0s;
            }
            @media (max-width: $mobile) {
                display: none;
            }
        }

        @media (any-hover: hover) {
            transition: $transition ease color 0s;

            &:hover {
                color: var(--DGrey);

                &::before {
                    transform: rotate(-190deg);
                }
            }
        }
    }
}

// cases ------------------------------------------------------------------------------------------------------------------------------
.cases {
    max-width: rem($maxWidthContainer);
    box-sizing: content-box;
    margin: 0 auto;
    overflow: hidden;

    // .cases__slider
    &__slider {
        @extend %container;
        @include adaptiveValue("margin-left", -129, -40, 1528, 992, 1);
        @include adaptiveValue("margin-right", -129, -40, 1528, 992, 1);
        position: relative;
    }

    // .cases__wrapper
    &__wrapper {
        transition: 0.8s ease transform 0s !important;

        @media (max-width: $mobileM) {
            .cases__slide {
                display: none;

                &:nth-child(1) {
                    display: block;
                }
            }
        }
    }

    // .cases__slide
    &__slide {
    }

    .swiper {
        &__button {
            @media (min-width: $mobile) {
                top: 0;
                bottom: 0;
                position: absolute;
                z-index: 2;
                display: block;
                width: rem(300);
                cursor: pointer;

                &_prev {
                    left: 0;
                }

                &_next {
                    right: 0;
                    // @include adaptiveValue("right", 129, 40, 1528, 992, 1);
                }
            }
            @media (max-width: $mobile) {
                display: none;
            }
        }
    }
}

.single-case {
    // .single-case_template1
    &_template1 {
        // .single-case__wrapper
        .single-case__wrapper {
            grid-template-columns: 1fr;

            @media (min-width: $pc) {
                grid-template-columns: percent(366, 1528) percent(741, 1528) percent(419, 1528);
            }
            @media (min-width: $tablet) and (max-width: $pc) {
                grid-template-columns: percent(334, 1024) percent(298, 1024) percent(392, 1024);
            }
            @media (min-width: $mobile) and (max-width: $tablet) {
                grid-template-columns: 1fr percent(375, 744);
            }
            @media (min-width: $mobileSmall) and (max-width: $mobile) {
                grid-template-columns: 1fr 1fr;
            }
        }

        // .single-case__job
        .single-case__job {
            &:nth-child(1) {
                @media (min-width: $tablet) {
                    grid-column: 1/2;
                }
                @media (min-width: $mobile) and (max-width: $tablet) {
                    grid-column: 1/3;
                }
                // .single-case__link
                .single-case__link {
                    max-width: rem(280);

                    @media (min-width: $tablet) {
                        margin-left: auto;
                    }
                    @media (min-width: $mobile) and (max-width: $tablet) {
                        .single-case__caption {
                            margin-left: auto;
                        }
                    }
                    @media (max-width: $mobileSmall) {
                        .single-case__caption {
                            margin-left: auto;
                        }
                    }
                }

                // .single-case__image
                .single-case__image {
                    &::before {
                        left: auto;
                        right: 0;
                        transform: translate(50%, 50%);
                    }
                }
            }
            &:nth-child(3) {
                align-self: flex-end;
                @include adaptiveValue("margin-top", 170, 80);

                @media (min-width: $tablet) {
                    grid-column: 3/4;
                }
                @media (min-width: $mobile) and (max-width: $tablet) {
                    grid-column: 1/3;
                }
                @media (min-width: $mobile) {
                    margin-bottom: rem(70);
                }

                // .single-case__link
                .single-case__link {
                    max-width: rem(418);

                    @media (min-width: $mobile) and (max-width: $tablet) {
                        margin-left: auto;
                    }
                }

                // .single-case__caption
                .single-case__caption {
                    margin-left: rem(88);
                }
            }
            &:nth-child(4) {
                @include adaptiveValue("margin-top", 170, 80);
                @include adaptiveValue("margin-bottom", 100, 80);

                @media (min-width: $mobile) and (max-width: $tablet) {
                    margin-bottom: rem(220);
                }
                @media (max-width: $mobileSmall) {
                    display: none;
                }

                // .single-case__link
                .single-case__link {
                    max-width: rem(366);
                }

                // .single-case__caption
                .single-case__caption {
                    max-width: rem(159);
                    margin-left: rem(25);
                }

                // .single-case__image
                .single-case__image {
                    &::before {
                        left: auto;
                        right: 0;
                        transform: translate(50%, 50%);
                    }
                }
            }
            &:nth-child(5) {
                align-self: flex-end;
                justify-self: flex-end;
                @include adaptiveValue("margin-right", 166, 0, 1520, 992, 1);

                @media (max-width: $mobile) {
                    margin-top: rem(88);
                }

                // .single-case__link
                .single-case__link {
                    margin-left: auto;
                    max-width: rem(240);
                }
            }
        }

        // single-case__title
        .single-case__title {
            @media (min-width: $tablet) and (max-width: $pc) {
                grid-column: 1/4;
                grid-row: 2/3;
                margin-left: auto;
                margin-right: auto;
            }
            @media (min-width: $mobile) and (max-width: $tablet) {
                grid-column: 1/3;
                grid-row: 3/4;
                margin-left: auto;
                margin-right: auto;
            }
            @media (max-width: $mobile) {
                grid-row-start: 1;
                padding-left: rem(15);
                padding-right: rem(15);
                max-width: 100%;
                margin-bottom: rem(95);
            }
            @media (min-width: $mobileSmall) and (max-width: $mobile) {
                grid-column: 1/3;
            }

            em {
                display: block;
            }

            a {
                @extend %hoverUnderline;
            }
        }

        // .single-case__more
        .single-case__more {
            @media (min-width: $tablet) and (max-width: $pc) {
                margin-left: auto;
                transform: translateX(rem(26));
            }
            @media (min-width: $mobile) and (max-width: $tablet) {
                margin-top: rem(120);
                grid-column: 1/3;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    // .single-case__wrapper
    &__wrapper {
        display: grid;
    }

    // .single-case__job
    &__job {
        width: 100%;
    }

    // .single-case__link
    &__link {
        width: 100%;
        display: block;

        @media (any-hover: hover) {
            &:hover {
                // .single-case__image
                .single-case__image {
                    &::before {
                        opacity: 1;
                        transform: translate(-50%, 50%);
                    }
                }

                // .single-case__giff
                .single-case__giff {
                    opacity: 1;
                }

                // .single-case__main-image
                .single-case__main-image {
                    opacity: 0;
                }
            }
        }
    }

    // .single-case__image
    &__image {
        position: relative;
        padding-bottom: 100%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:not(:last-child) {
            margin-bottom: rem(40);
        }

        &::before {
            content: "\e90a";
            @extend %ic;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            @include adaptiveValue("width", 106, 64);
            @include adaptiveValue("height", 106, 64);
            border-radius: 50%;
            background-color: var(--mainColor);
            color: var(--bgColor);
            @include adaptiveValue("font-size", 24, 17);
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translate(-50%, 50%);
            z-index: 1;
            opacity: 0;
            transition: $transition ease opacity, $transition transform 0s;
        }
    }

    // single-case__giff
    &__giff {
        opacity: 0;
    }

    // single-case__main-image
    &__main-image {
        transition: $transition ease opacity 0s;
    }

    // .single-case__caption
    &__caption {
        max-width: rem(112);
        text-align: right;
        text-transform: uppercase;
        font-size: rem(16);
        line-height: math.div(22, 16);
        word-break: break-word;
    }

    // .single-case__title
    &__title {
        font-weight: 300;
        @include adaptiveValue("font-size", 80, 58);
        line-height: math.div(96, 80);
        max-width: rem(473);
        align-self: flex-end;

        @media (any-hover: hover) {
            &:hover {
                span {
                    &::before {
                        opacity: 0.6;
                    }
                }
            }
        }

        span {
            display: block;
            text-align: justify;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                z-index: 1;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                pointer-events: none;
                background: var(--bgColor);
                opacity: 0;
                transition: $transition ease opacity 0s;
            }

            & > div {
                width: 100%;
                @include adaptiveValue("margin-top", -12, -7);
                @include adaptiveValue("margin-bottom", -12, -7);

                &:first-child {
                    div {
                        text-align-last: justify;
                        text-align: justify;
                        width: 100%;
                    }
                }

                div {
                    @media (any-hover: hover) {
                        &:hover {
                            position: relative;
                            z-index: 1;

                            &::before {
                                opacity: 0.6;
                            }
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        display: block;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        pointer-events: none;
                        background: var(--bgColor);
                        opacity: 0;
                    }
                }
            }
        }

        a {
            text-decoration: underline var(--mainColor) from-font;
            text-underline-offset: 3px;
            position: relative;

            @media (any-hover: hover) {
                transition: $transition ease text-decoration 0s;

                &:hover {
                    text-decoration: underline transparent from-font;
                    z-index: 1;
                }
            }
        }
    }

    // .single-case__more
    &__more {
        display: flex;
        align-self: center;

        @media (max-width: $mobile) {
            transform: translateX(rem(-35));
            margin-top: rem(80);
        }

        a {
            display: inline-flex;
        }
    }
}

// features ------------------------------------------------------------------------------------------------------------------------------
.features {
    @include adaptiveValue("padding-top", 200, 50);
    padding-bottom: rem(183);
    overflow: hidden;

    // .features__container
    &__container {
    }

    // .features__body
    &__body {
        display: grid;
        row-gap: rem(110);

        @media (min-width: $tablet) {
            row-gap: rem(64);
        }

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 220, 110);
        }
    }

    // .features__title
    &__title {
        font-weight: 300;
        @include adaptiveValue("font-size", 70, 40, 744, 375, 1);
        line-height: math.div(84, 70);

        @media (min-width: $mobile) {
            max-width: rem(502);
        }

        span > div {
            padding: rem(4) rem(10);
            margin: rem(-14) rem(-10);
            overflow: hidden;

            div {
                transform: translateY(110%);
            }
        }
        div {
            display: inline-block;
        }

        &._active {
            span > div {
                @for $i from 1 through 6 {
                    &:nth-child(#{$i}) {
                        div {
                            transition-delay: (0.1s * $i);
                        }
                    }
                }

                div {
                    transform: translateY(0);
                    transition: 1s ease all 0s;
                }
            }
        }
    }

    // .features__text
    &__text {
        font-size: rem(20);
        line-height: math.div(28, 20);
        @include adaptiveValue("padding-bottom", 64, 40);
        border-bottom: 1px solid var(--DGrey);
        @extend %firstletter;
        @include adaptiveValue("margin-right", 36, 0, 1528, 1400, 1);

        @media (min-width: $tablet) {
            max-width: rem(420);
            margin-left: auto;
        }
        @media (min-width: $mobile) and (max-width: $tablet) {
            max-width: rem(473);
        }
    }

    // .features__row
    &__row {
        @media (min-width: $tablet) {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            &:not(:last-child) {
                margin-bottom: rem(450);
            }
        }
    }

    // .features__items
    &__items {
        display: grid;
        @include adaptiveValue("gap", 170, 100);

        @media (min-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);

            &:not(:last-child) {
                margin-right: rem(20);
            }
        }
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: rem(40);
            }
        }
    }

    // .features__more
    &__more {
        position: relative;
        font-size: rem(60);

        @media (max-width: $tablet) {
            margin-top: rem(550);
            margin-bottom: rem(550);
            margin-left: rem(150);
        }
        @media (max-width: $mobile) {
            margin-top: rem(466);
            margin-bottom: rem(580);
            max-width: rem(250);
            margin-left: auto;
        }
    }

    // .features__more-bg
    &__more-bg {
        position: absolute;
        left: rem(-40);
        top: 50%;
        transform: translateY(-50%);
        width: rem(884);
        height: rem(884);
        pointer-events: none;

        &::before {
            content: "";
            display: block;
            width: rem(884);
            height: rem(884);
            background: url(../img/discover.png) no-repeat center/contain;
            position: absolute;
            pointer-events: none;
        }

        &._action {
            &::before {
                animation: rotate-left 40s linear infinite;
            }
        }
    }

    // .features__located
    &__located {
        font-weight: 300;
        @include adaptiveValue("font-size", 70, 42, 744, 375, 2);
        line-height: math.div(84, 70);
        position: relative;
        max-width: rem(603);

        @media (any-hover: hover) {
            &:hover {
                span {
                    &::before {
                        opacity: 0.6;
                    }
                }
            }
        }

        @media (min-width: $tablet) {
            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width: $mobileM) {
            margin: 0 rem(-15);
        }

        .link-circle {
            position: absolute;
            z-index: 1;
            right: 0;
            @include adaptiveValue("bottom", -80, -90);
        }

        span {
            &::before {
                content: "";
                position: absolute;
                z-index: 1;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                pointer-events: none;
                background: var(--bgColor);
                opacity: 0;
                transition: $transition ease opacity 0s;
            }

            & > div {
                @include adaptiveValue("margin-top", -12, -1);
                @include adaptiveValue("margin-bottom", -12, -1);

                div {
                    @media (any-hover: hover) {
                        &:hover {
                            position: relative;
                            z-index: 1;

                            &::before {
                                opacity: 0.6;
                            }
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        display: block;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        pointer-events: none;
                        background: var(--bgColor);
                        opacity: 0;
                    }
                }
            }

            & > button {
                position: relative;
                z-index: 1;
            }
        }

        a {
            text-decoration: underline var(--mainColor) from-font;
            text-underline-offset: 3px;
            position: relative;

            @media (any-hover: hover) {
                transition: $transition ease text-decoration 0s;

                &:hover {
                    text-decoration: underline transparent from-font;
                    z-index: 1;
                }
            }
        }
    }
}

.feature-item {
    display: grid;
    @include adaptiveValue("row-gap", 60, 40, 1528, 744, 1);
    max-width: rem(180);

    @media (max-width: $mobile) {
        &:nth-child(2n) {
            margin-left: auto;
        }
    }

    // .feature-item__icon
    &__icon {
        font-size: rem(60);
    }

    // .feature-item__text
    &__text {
        font-size: rem(16);
        line-height: math.div(21, 16);
    }
}

.text-link {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 300;
    transition: $transition ease transform 0s;

    @media (any-hover: hover) {
        &:hover {
            transform: translateX(rem(-3));

            svg {
                * {
                    transform: translateX(20px);
                }
            }
        }
    }

    svg {
        width: rem(56);
        transition: $transition ease width 0s;
        @include adaptiveValue("margin-left", 32, 16);
        stroke: var(--mainColor);

        * {
            transition: $transition ease transform 0s;
        }
    }
}

// faq ------------------------------------------------------------------------------------------------------------------------------
.faq {
    @include adaptiveValue("padding-top", 200, 98);
    @include adaptiveValue("padding-bottom", 200, 50);

    // .faq__container
    &__container {
        display: grid;

        @media (min-width: $mobile) and (max-width: $tablet) {
            @include adaptiveValue("padding-left", 129, 59, 1528, 992, 1);
            @include adaptiveValue("padding-right", 129, 59, 1528, 992, 1);
        }
        @media (min-width: $mobile) {
            display: flex;
            align-items: flex-start;
        }
    }

    // .faq__spollers
    &__spollers {
        flex: 1 1 100%;

        @media (min-width: $tablet) {
            &:not(:last-child) {
                margin-right: rem(20);
            }
        }
        @media (min-width: $mobile) {
            max-width: rem(789);
        }
    }

    // .faq__title
    &__title {
        flex: 1;

        @media (max-width: $tablet) {
            display: none;
        }
    }
}

// seo ------------------------------------------------------------------------------------------------------------------------------
.seo {
    padding-bottom: 0;

    // .seo__container
    &__container {
        display: grid;
        @include adaptiveValue("column-gap", 40, 20, 1520, 992, 1);
        row-gap: rem(143);

        @media (min-width: $tablet) {
            grid-template-columns: 1fr 1fr;
        }
    }

    // .seo__body
    &__body {
        max-height: rem(418);
        @extend %scrollbar;
    }

    // .seo__right
    &__right {
        display: grid;
        gap: rem(165);
        grid-template-rows: 1fr;

        @media (min-width: $tablet) {
            margin-left: auto;
            max-width: rem(390);
        }
    }

    // .seo__social
    &__social {
        font-weight: 300;
        font-size: rem(30);
        line-height: math.div(36, 30);

        @media (max-width: $mobile) {
            font-size: rem(40);
        }

        span {
            display: block;
            position: relative;

            @media (any-hover: hover) {
                &:hover {
                    &::before {
                        opacity: 0.6;
                    }
                }
            }

            &::before {
                content: "";
                position: absolute;
                z-index: 1;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                pointer-events: none;
                background: var(--bgColor);
                opacity: 0;
                transition: $transition ease opacity 0s;
            }
        }

        a {
            text-decoration: underline var(--mainColor) from-font;
            text-underline-offset: 3px;
            transition: $transition ease text-decoration 0s;
            position: relative;

            @media (any-hover: hover) {
                transition: $transition ease all 0s;

                &:hover {
                    text-decoration: underline transparent from-font;
                    z-index: 1;
                }
            }
        }
    }

    // .seo__contacts
    &__contacts {
        display: flex;
        align-items: center;

        @media (max-width: $mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }

        & > * {
            &:not(:last-child) {
                margin-right: rem(40);
            }
        }
    }

    // .seo__link
    &__link {
        display: inline-flex;
        @extend %hoverUnderline;
        font-size: rem(20);

        @media (min-width: $mobile) and (max-width: $tablet) {
            flex: 1;
        }
        @media (max-width: $mobile) {
            justify-content: center;
            flex: 0 0 100%;

            &:not(:last-child) {
                margin-bottom: rem(48);
                margin-right: 0;
            }
        }
    }

    // .seo__app-link
    &__app-link {
        display: inline-flex;
        font-size: rem(32);
        position: relative;
        transition: $transition ease transform 0s;

        @media (any-hover: hover) {
            &:hover {
                transform: translateY(rem(3));
            }
        }

        &._icon-whatsapp {
            font-size: rem(34);
        }
    }

    // .seo__app-separator
    &__app-separator {
        position: relative;
        height: 100%;
        pointer-events: none;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            height: rem(64);
            width: rem(1);
            background-color: var(--DGrey);
            transform: translateY(-50%) skewX(-15deg);
        }
    }
}
