.portfolio-archive {
    overflow: hidden;

    @media (min-width: $mobile) {
        @include adaptiveValue("padding-top", 189, 146, 1528, 744, 1);
    }
    @media (max-width: $mobile) {
        @include adaptiveValue("padding-top", 146, 20, 744, 375, 1);
    }

    // .portfolio-archive__container
    &__container {
        max-width: rem(1276);
        padding-left: 0;
        padding-right: 0;
    }

    // .portfolio-archive__categories
    &__categories {
        display: grid;
        row-gap: rem(4);
        padding-bottom: rem(295);
        max-width: rem(1276);
        margin-left: auto;
        margin-right: auto;
        @extend %container;

        @media (min-width: $mobile) {
            @include adaptiveValue("row-gap", 40, 20, 1528, 744, 1);
            @include adaptiveValue("padding-bottom", 295, 183, 1528, 744, 1);
        }
        @media (max-width: $mobile) {
            @include adaptiveValue("padding-bottom", 183, 90, 744, 375, 1);
        }

        ul {
            display: grid;
            row-gap: rem(4);
            overflow: hidden;

            @media (min-width: $mobile) {
                @include adaptiveValue("column-gap", 100, 30, 1528, 744, 1);
                display: flex;
                flex-wrap: wrap;
                padding-left: rem(10);
                padding-right: rem(10);
                margin-left: rem(-10);
                margin-right: rem(-10);

                &:nth-child(2n) {
                    justify-content: flex-end;
                }
            }

            li {
                transform: translateY(-100%);
                transition: 1s ease transform 0s;

                @for $i from 1 through 10 {
                    &:nth-child(#{$i}) {
                        transition-delay: (0.1s * $i);
                    }
                }
            }

            &._show {
                li {
                    transform: translateY(0);
                }
            }
        }

        a {
            padding: rem(5);
            margin: rem(-5);
            font-weight: 300;
            line-height: math.div(64, 43);
            transition: $transition ease color 0s;

            @media (min-width: $mobile) {
                @include adaptiveValue("font-size", 53, 50, 1024, 744, 1);
            }
            @media (max-width: $mobile) {
                @include adaptiveValue("font-size", 50, 22, 744, 375, 1);
            }

            @media (any-hover: hover) {
                &:hover {
                    color: var(--DGrey);
                }
            }

            &.active {
                font-family: LibreCaslonText;
                color: var(--DGrey);
            }
        }
    }

    // .portfolio-archive__items
    &__items {
        display: grid;
        max-width: rem(1100);
        margin-left: auto;
        margin-right: auto;
    }

    // .portfolio-archive__item
    &__item {
        display: flex;
        justify-content: flex-end;
        width: auto;

        &:not(:first-child) {
            margin-top: rem(100);
        }
        &:nth-child(2n-1) {
            // .single-case__link
            .single-case__link {
                max-width: rem(418);
            }

            // .single-case__caption
            .single-case__caption {
                @media (min-width: $mobile) {
                    margin-left: rem(88);
                }
                @media (max-width: $mobile) {
                    margin-left: 0;
                }
            }
        }
        &:nth-child(2n) {
            justify-content: flex-start;

            // .single-case__link
            .single-case__link {
                @include adaptiveValue("max-width", 366, 334, 1528, 1024, 1);
            }

            // .single-case__image
            .single-case__image {
                &::before {
                    left: auto;
                    right: 0;
                    transform: translate(50%, 50%);
                }
            }

            // .single-case__caption
            .single-case__caption {
                max-width: rem(159);

                @media (min-width: $mobile) {
                    margin-left: rem(25);
                }
                @media (max-width: $mobile) {
                    margin-left: auto;
                }
            }
        }
        &:nth-child(2) {
            @media (min-width: $tablet) {
                margin-top: 0;
            }
        }
        &:nth-child(3) {
            margin-top: rem(144);

            @media (min-width: $tablet) {
                margin-right: rem(277);
            }

            // .single-case__link
            .single-case__link {
                @include adaptiveValue("max-width", 280, 240, 1024, 744, 1);
            }
        }
        &:nth-child(7) {
            margin-top: rem(96);

            @media (min-width: $tablet) {
                margin-right: rem(137);
            }

            // .single-case__link
            .single-case__link {
                @include adaptiveValue("max-width", 280, 240, 1024, 744, 1);
            }
        }
    }
}
