[data-scroll-container] {
    overflow-y: hidden !important;
    @include adaptiveValue("padding-bottom", 200, 100);
}

.transition-thumb {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: var(--mainColor);
    width: 5vw;
    height: 5vw;
    opacity: 0;
    z-index: 55;
    transition: 0.5s ease-out;
    pointer-events: none;

    &._active {
        transform: scale(21);
        opacity: 1;
        border-radius: 0;
        pointer-events: all;
    }
}

// Общие стили
section {
    @include adaptiveValue("padding-top", 100, 50);
    @include adaptiveValue("padding-bottom", 100, 50);
    position: relative;
    z-index: 1;
    background-color: var(--bgColor);
    transition: $transition ease background-color 0s;
}

// Анимации
@keyframes marquee-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
@keyframes rotate-left {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

._anim-show {
    span > div {
        padding: rem(4) rem(10);
        margin: rem(-14) rem(-10);
        overflow: hidden;

        div {
            transform: translateY(110%);
        }
    }
    div {
        display: inline-block;
    }

    &._active {
        span > div {
            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {
                    div {
                        transition-delay: (0.1s * $i);
                    }
                }
            }

            div {
                transform: translateY(0);
                transition: 1s ease transform 0s;
            }
        }
    }
}

.link-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: rem(106);
    flex: 0 0 rem(106);
    height: rem(106);
    border-radius: 50%;
    background-color: var(--mainColor);
    color: var(--bgColor);
    font-size: rem(24);

    &::before {
        transition: $transition ease transform 0s;
    }

    @media (any-hover: hover) {
        &:hover {
            &::before {
                transform: rotate(360deg);
            }
        }
    }
}

.link-cirlcle2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 rem(245);
    width: rem(245);
    height: rem(245);
    border-radius: 50%;
    border: 1px solid $DGrey;
    font-weight: 300;
    font-size: rem(22);
    line-height: math.div(26, 22);
    text-transform: uppercase;
}

em {
    font-family: LibreCaslonText;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

._image-left {
    @include adaptiveValue("margin-left", -129, -40, 1528, 992, 1);
}

._image-right {
    @include adaptiveValue("margin-right", -129, -40, 1528, 992, 1);
}

._section-title {
    text-transform: uppercase;
    font-size: rem(14);
    line-height: math.div(20, 14);
    color: var(--DGrey);

    @media (min-width: $mobile) {
        text-align: right;
    }
    @media (max-width: $mobile) {
        grid-row-start: 1;
        margin-bottom: rem(24);
    }
}

._content {
    h {
        &1 {
            font-size: rem(28);
            line-height: math.div(39, 28);
            @include adaptiveValue("margin-bottom", 40, 24);
        }

        &2 {
            @include adaptiveValue("font-size", 22, 18);
            line-height: math.div(31, 22);
            @include adaptiveValue("margin-bottom", 32, 16);
        }
    }

    p {
        font-size: rem(18);
        line-height: math.div(25, 18);
        margin-top: rem(16);
        margin-bottom: rem(16);
    }

    :first-child {
        margin-top: 0;
    }
    :last-child {
        margin-bottom: 0;
    }
}

[data-goto],
[data-popup] {
    cursor: pointer;
}

// блоки

.marquee {
    @include adaptiveValue("padding-top", 100, 80);
    @include adaptiveValue("padding-bottom", 100, 80);
    overflow: hidden;

    // .marquee__left
    &__left {
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: rem(235);
        line-height: math.div(281, 234);

        width: 200%;

        & > * {
            &:not(:last-child) {
                margin-right: rem(80);
            }
        }
    }

    &._active {
        .marquee__left {
            animation: marquee-left 15s linear infinite;
        }
    }

    // .marquee__text
    &__text {
        white-space: nowrap;
    }

    // .marquee__separator
    &__separator {
        display: block;
        flex-shrink: 0;
        flex-basis: rem(22);
        height: rem(22);
        background-color: var(--mainColor);
        border-radius: 50%;
    }
}
