// header ====================================================================================================
.header {
	min-height: rem(89);
	display: flex;
	align-items: center;
	background-color: var(--bgColor);
	transform: translateY(-100%);
	transition: $transition ease transform 0.3s;

	// .header__container
	&__container {
		width: 100%;
		padding-left: rem(30);
		padding-right: rem(30);

		@media (min-width: $mobile) {
			@include adaptiveValue("padding-left", 49, 38, 1528, 744, 1);
			@include adaptiveValue("padding-right", 49, 38, 1528, 744, 1);
		}
	}

	// .header__menu
	&__menu {
		display: flex;
		align-items: center;
		padding-top: rem(15);
		padding-bottom: rem(15);

		@media (min-width: $mobile) {
			padding-top: rem(33);
			padding-bottom: rem(33);
		}
	}

	// .header__logo
	&__logo {
	}
}

.menu {
	// .menu__icon
	&__icon {
	}

	// .menu__body
	&__body {
		flex: 1;
		padding-left: rem(56);
	}

	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		column-gap: rem(31);
		row-gap: rem(10);

		@media (max-width: $mobile) {
			display: none;
		}
	}

	// .menu__item
	&__item {
	}

	// .menu__link
	&__link {
		padding: rem(5);
		margin: rem(-5);
		font-size: rem(14);
		line-height: 1;
		transition: $transition ease color 0s;

		@media (any-hover: hover) {
			&:hover {
				color: var(--DGrey);
			}
		}
	}
}

.logo {
	font-size: rem(20);

	// .logo__link
	&__link {
		@media (any-hover: hover) {
			transition: $transition ease color 0s;

			&:hover {
				color: var(--DGrey);
			}
		}
	}

	// .logo__icon
	&__icon {
	}
}

.icon-menu {
	display: flex;

	@for $i from 1 through 4 {
		#icon-menu-rect-#{$i} {
			transition: $transition ease transform 0s;
		}
	}

	svg {
		path {
			fill: var(--mainColor);
			transition: $transition ease all 0s;
		}
	}

	.menu-open & {
		#icon-menu-rect-1 {
			transform: translate(rem(5), rem(8));
		}
		#icon-menu-rect-2 {
			transform: translate(rem(0), rem(-8));
		}
		#icon-menu-rect-3 {
			transform: translate(rem(-5), rem(8));
		}
		#icon-menu-rect-4 {
			transform: translate(rem(0), rem(-8));
		}
	}
}
