// header ====================================================================================================
.header {
	min-height: rem(60);
	display: flex;
	align-items: center;
	background-color: var(--bgColor);

	@media (min-width: $mobile) {
		min-height: rem(89);
	}

	// .header__container
	&__container {
		width: 100%;
		padding-left: rem(math.div($containerPadding, 2));
		padding-right: rem(math.div($containerPadding, 2));

		@media (min-width: $mobile) {
			@include adaptiveValue("padding-left", 49, 20, 1528, 992, 1);
			@include adaptiveValue("padding-right", 49, 20, 1528, 992, 1);
		}
	}

	// .header__menu
	&__menu {
		display: flex;
		align-items: center;
		padding-top: rem(15);
		padding-bottom: rem(15);

		@media (min-width: $mobile) {
			padding-top: rem(33);
			padding-bottom: rem(33);
		}
		@media (max-width: $mobile) {
			//  .menu__list
			.menu__list {
				display: none;
			}
		}
	}

	// .header__logo
	&__logo {
	}
}

.menu {
	// .menu__icon
	&__icon {
	}

	// .menu__body
	&__body {
		flex: 1;
		@include adaptiveValue("padding-left", 83, 43);
	}

	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		@include adaptiveValue("column-gap", 30, 15);
		row-gap: rem(10);
	}

	// .menu__item
	&__item {
	}

	// .menu__link
	&__link {
		padding: rem(5);
		margin: rem(-5);
		font-size: rem(14);
		line-height: 1;
		transition: $transition ease color 0s;

		@media (any-hover: hover) {
			&:hover {
				color: $DGrey;
			}
		}
	}
}

.logo {
	// .logo__link
	&__link {
		@media (any-hover: hover) {
			transition: $transition ease color 0s;

			&:hover {
				color: $DGrey;
			}
		}
	}

	// .logo__icon
	&__icon {
	}
}

.icon-menu {
	display: flex;
	font-size: rem(23);

	@for $i from 1 through 4 {
		#icon-menu-rect-#{$i} {
			transition: $transition ease transform 0s;
		}
	}

	@media (any-hover: hover) {
		transition: $transition ease color 0s;

		&:hover {
			color: $DGrey;
		}
	}

	.menu-open & {
		#icon-menu-rect-1 {
			transform: translate(rem(4), rem(8));
			// animation: icon-menu-anim-1 0.5s both;
		}
		#icon-menu-rect-2 {
			transform: translate(rem(0), rem(-8));
			// animation: icon-menu-anim-2 0.5s both;
		}
		#icon-menu-rect-3 {
			transform: translate(rem(-4), rem(8));
			// animation: icon-menu-anim-3 0.5s both;
		}
		#icon-menu-rect-4 {
			transform: translate(rem(0), rem(-8));
			// animation: icon-menu-anim-4 0.5s both;
		}
	}
}

@keyframes icon-menu-anim-1 {
	0% {
		transform: translate(0);
	}
	100% {
		transform: translate(rem(4), rem(8));
	}
}

@keyframes icon-menu-anim-2 {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translate(rem(8), rem(-8));
	}
	100% {
		transform: translate(rem(0), rem(-8));
	}
}

@keyframes icon-menu-anim-3 {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translate(rem(-8), rem(8));
	}
	100% {
		transform: translate(rem(-4), rem(8));
	}
}

@keyframes icon-menu-anim-4 {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translate(rem(-8), rem(-8));
	}
	100% {
		transform: translate(rem(0), rem(-8));
	}
}
