// preview ------------------------------------------------------------------------------------------------------------------------------
.preview {
    min-height: calc(var(--vh, 1vh) * 100 - rem(60));
    display: flex;
    align-items: center;

    @media (min-width: $mobile) {
        min-height: calc(var(--vh, 1vh) * 100 - rem(89));
    }

    // .preview__container
    &__container {
        width: 100%;
        font-weight: 300;
        position: relative;
    }

    // .preview__social
    &__social {
        display: none;

        @media (min-width: $mobile) {
            position: absolute;
            @include adaptiveValue("right", 50, 20, 1528, 992, 1);
            top: 50%;
            transform: translateY(-50%) rotate(-180deg);
            writing-mode: vertical-rl;
            display: flex;

            & > * {
                &:not(:last-child) {
                    margin-bottom: rem(14);
                }
            }
        }
    }

    // .preview__body
    &__body {
        display: grid;
        @include adaptiveValue("row-gap", 56, 42);

        @media (min-width: $mobile) {
            padding-right: rem(32);
        }
    }

    // .preview__title
    &__title {
        @include adaptiveValue("font-size", 100, 87);
        line-height: 1;
        word-break: break-word;

        @media (min-width: $mobile) {
            max-width: rem(610);
        }

        span {
            @media (min-width: $mobile) {
                display: block;
                @include adaptiveValue("margin-left", 52, 0, 1528, 992, 1);
            }
        }
    }

    // .preview__subtitle
    &__subtitle {
        @include adaptiveValue("font-size", 46, 36);
        line-height: math.div(55, 46);

        @media (min-width: $mobile) {
            @include adaptiveValue("margin-right", 74, 0, 1528, 992, 1);
            max-width: rem(500);
            margin-left: auto;
        }
    }

    // .preview__scroll
    &__scroll {
        padding-left: rem(5);
        padding-right: rem(5);
        margin-left: rem(-5);
        margin-right: rem(-5);
        font-size: rem(98);
        color: $DGrey;
        transition: $transition ease color, $transition transform 0s;

        @media (any-hover: hover) {
            &:hover {
                color: var(--mainColor);
                transform: translateY(rem(3));
            }
        }

        @media (max-width: $mobile) {
            display: none;
        }
    }
}

.social {
    font-size: rem(12);
    line-height: 1;
    color: $DGrey;

    // .social__item
    &__item {
        a {
            transition: $transition ease color 0s;

            @media (any-hover: hover) {
                &:hover {
                    color: var(--mainColor);
                }
            }
        }
    }

    // .social__separator
    &__separator {
        opacity: 0.3;
    }
}

// about ------------------------------------------------------------------------------------------------------------------------------
.about {
    // .about__container
    &__container {
    }

    // .about__images
    &__images {
        @media (min-width: $mobile) {
            grid-template-columns: 1fr 1fr;
        }
        @media (min-width: $mobileM) and (max-width: $mobile) {
            grid-template-columns: 60% 40%;
        }
        @media (min-width: $mobileM) {
            display: grid;
            justify-items: flex-end;
            align-items: flex-end;
        }
    }

    // .about__image
    &__image {
        &:nth-child(2n-1) {
            @include adaptiveValue("max-width", 778, 450, 1520, 575, 1);

            @media (max-width: $mobileM) {
                @include adaptiveValue("max-width", 450, 264, 575, 375, 1);
            }
        }
        &:nth-child(2n) {
            @include adaptiveValue("max-width", 520, 240, 1520, 575, 1);

            @media (min-width: $mobileM) {
                margin-bottom: -(percent(230, 520));
            }
            @media (max-width: $mobile) {
                max-width: 100%;
            }
            @media (max-width: $mobileM) {
                @include adaptiveValue("max-width", 520, 350, 575, 375, 3);
            }
        }
    }

    // .about__content
    &__content {
        display: grid;

        &:not(:first-child) {
            @include adaptiveValue("margin-top", 140, 80);
        }
        @media (min-width: $mobile) {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
    }

    // .about__body
    &__body {
        display: grid;
        @include adaptiveValue("row-gap", 96, 16);
        @include adaptiveValue("padding-left", 163, 0, 1520, 768, 1);

        @include adaptiveValue("max-width", 635, 290, 1520, 575, 1);

        &:not(:last-child) {
            margin-right: rem(20);
        }
    }

    // .about__caption
    &__caption {
        font-weight: 300;
        @include adaptiveValue("font-size", 40, 18);
        line-height: math.div(48, 40);

        span {
            @include adaptiveValue("font-size", 50, 22);
            line-height: math.div(60, 50);
        }
    }

    // .about__text
    &__text {
        @extend %firstletter;

        p {
            @include adaptiveValue("font-size", 22, 16);
            line-height: math.div(31, 22);
        }
    }

    // .about__title
    &__title {
        @media (max-width: $mobile) {
            display: none;
        }
    }
}

// categories ------------------------------------------------------------------------------------------------------------------------------
.categories {
    // .categories__container
    &__container {
    }

    // .categories__items
    &__items {
        padding-top: rem(100);
        border-top: 1px solid $DGrey;
        @include adaptiveValue("margin-left", 163, 0, 1520, 768, 1);
        display: grid;
        row-gap: rem(40);
    }

    // .categories__item
    &__item {
        font-weight: 300;
        @include adaptiveValue("font-size", 100, 80);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

        &::before {
            @include adaptiveValue("font-size", 52, 23);
            color: $DGrey;
            margin-left: rem(20);
            transition: $transition ease transform 0s;
        }

        @media (any-hover: hover) {
            transition: $transition ease color 0s;

            &:hover {
                color: $DGrey;

                &::before {
                    transform: rotate(-190deg);
                }
            }
        }
    }
}

// cases ------------------------------------------------------------------------------------------------------------------------------
.cases {
    max-width: rem($maxWidthContainer);
    box-sizing: content-box;
    margin: 0 auto;
    @include adaptiveValue("margin-top", 70, 0, 1528, 992, 1);

    // .cases__slider
    &__slider {
        @extend %container;
        @include adaptiveValue("margin-left", -129, -40, 1528, 992, 1);
        @include adaptiveValue("margin-right", -129, -40, 1528, 992, 1);
        position: relative;
    }

    // .cases__wrapper
    &__wrapper {
        transition: 0.8s ease transform 0s !important;
    }

    // .cases__slide
    &__slide {
    }

    .swiper {
        &__button {
            top: 0;
            bottom: 0;
            position: absolute;
            z-index: 2;
            display: block;
            width: rem(200);
            // cursor: pointer;
            // background-color: #000;
            // background-color: rgba($color: var(--bgColor), $alpha: 1);

            &_next {
                @include adaptiveValue("right", 129, 40, 1528, 992, 1);
            }
        }
    }
}

.single-case {
    // .single-case_template1
    &_template1 {
        // .single-case__job
        .single-case__job {
            &:nth-child(1) {
                // .single-case__link
                .single-case__link {
                    margin-left: auto;
                    max-width: percent(280, 366);
                }

                // .single-case__image
                .single-case__image {
                    &::before {
                        left: auto;
                        right: 0;
                        transform: translate(50%, 50%);
                    }
                }
            }
            &:nth-child(3) {
                align-self: flex-end;
                margin-top: rem(170);
                margin-bottom: rem(70);

                // .single-case__link
                .single-case__link {
                    max-width: percent(418, 418);
                }

                // .single-case__caption
                .single-case__caption {
                    margin-left: rem(88);
                }
            }
            &:nth-child(4) {
                margin-top: rem(170);
                margin-bottom: rem(100);

                // .single-case__link
                .single-case__link {
                    max-width: percent(366, 366);
                }

                // .single-case__caption
                .single-case__caption {
                    max-width: rem(159);
                    margin-left: rem(25);
                }

                // .single-case__image
                .single-case__image {
                    &::before {
                        left: auto;
                        right: 0;
                        transform: translate(50%, 50%);
                    }
                }
            }
            &:nth-child(5) {
                align-self: flex-end;
                justify-self: flex-end;
                @include adaptiveValue("margin-right", 166, 20, 1520, 992, 1);

                // .single-case__link
                .single-case__link {
                    margin-left: auto;
                    max-width: percent(240, 741);
                }
            }
        }
    }

    // .single-case__wrapper
    &__wrapper {
        display: grid;
        grid-template-columns: percent(366, 1528) percent(741, 1528) percent(419, 1528);
    }

    // .single-case__job
    &__job {
        width: 100%;
    }

    // .single-case__link
    &__link {
        width: 100%;
        display: block;

        @media (any-hover: hover) {
            &:hover {
                // .single-case__image
                .single-case__image {
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    // .single-case__image
    &__image {
        position: relative;
        padding-bottom: 100%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:not(:last-child) {
            margin-bottom: rem(45);
        }

        &::before {
            content: "\e90a";
            @extend %ic;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            @include adaptiveValue("width", 106, 64);
            @include adaptiveValue("height", 106, 64);
            border-radius: 50%;
            background-color: var(--mainColor);
            color: var(--bgColor);
            @include adaptiveValue("font-size", 24, 17);
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translate(-50%, 50%);
            z-index: 1;
            opacity: 0;
            transition: $transition ease opacity 0s;
        }
    }

    // .single-case__caption
    &__caption {
        max-width: rem(112);
        text-align: right;
        text-transform: uppercase;
        @include adaptiveValue("font-size", 16, 14);
        line-height: math.div(22, 16);
    }

    // .single-case__title
    &__title {
        font-weight: 300;
        @include adaptiveValue("font-size", 80, 45);
        line-height: math.div(96, 80);
        text-align: justify;
        max-width: rem(473);
        align-self: flex-end;
    }

    // .single-case__more
    &__more {
        align-self: center;
    }
}

// features ------------------------------------------------------------------------------------------------------------------------------
.features {
    // .features__container
    &__container {
    }

    // .features__body
    &__body {
        display: grid;
        @include adaptiveValue("row-gap", 64, 48);

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 220, 72);
        }
    }

    // .features__title
    &__title {
        font-weight: 300;
        @include adaptiveValue("font-size", 70, 31);
        line-height: math.div(84, 70);

        @media (min-width: $mobile) {
            max-width: rem(502);
        }
    }

    // .features__text
    &__text {
        @include adaptiveValue("font-size", 20, 16);
        line-height: math.div(28, 20);
        @include adaptiveValue("padding-bottom", 64, 24);
        border-bottom: 1px solid $DGrey;
        @extend %firstletter;

        @media (min-width: $mobile) {
            max-width: rem(420);
            margin-left: auto;
        }
    }

    // .features__row
    &__row {
        @media (min-width: $mobile) {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 428, 350, 1520, 768, 1);
            }
        }
        @media (max-width: $mobile) {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 220, 72);
            }
        }
    }

    // .features__items
    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include adaptiveValue("gap", 170, 32);

        @media (min-width: $mobile) {
            &:not(:last-child) {
                margin-right: rem(20);
            }
        }
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: rem(40);
            }
        }
    }

    // .features__more
    &__more {
        position: relative;
        @include adaptiveValue("font-size", 60, 26);
    }

    // .features__more-bg
    &__more-bg {
        @media (min-width: $mobile) {
            position: absolute;
            left: rem(-40);
            top: 50%;
            transform: translateY(-50%);
            width: rem(884);
            height: rem(884);
            pointer-events: none;

            &::before {
                content: "";
                display: block;
                width: rem(884);
                height: rem(884);
                background: url(../img/discover.png) no-repeat center/contain;
                position: absolute;
                pointer-events: none;
                animation: rotate-left 40s linear infinite;
            }
        }
    }

    // .features__located
    &__located {
        font-weight: 300;
        @include adaptiveValue("font-size", 70, 31);
        line-height: math.div(84, 70);

        @media (min-width: $mobile) {
            max-width: rem(595);
            margin-left: auto;
            margin-right: auto;
        }

        a {
            @extend %hoverUnderline;
        }
    }
}

.feature-item {
    display: grid;
    @include adaptiveValue("row-gap", 60, 24);
    row-gap: rem(60);
    max-width: rem(180);

    // .feature-item__icon
    &__icon {
        font-size: rem(60);
    }

    // .feature-item__text
    &__text {
        @include adaptiveValue("font-size", 16, 14);
        line-height: math.div(21, 16);
    }
}

.text-link {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    font-weight: 300;

    &::before {
        transform: rotate(45deg);
        @include adaptiveValue("margin-left", 32, 16);
        @include adaptiveValue("font-size", 16, 14);
    }
}

// faq ------------------------------------------------------------------------------------------------------------------------------
.faq {
    @include adaptiveValue("margin-top", 100, 48);
    @include adaptiveValue("margin-bottom", 100, 48);

    // .faq__container
    &__container {
        display: grid;

        @media (min-width: $mobile) {
            display: flex;
            align-items: flex-start;
        }
    }

    // .faq__spollers
    &__spollers {
        flex: 1 1 100%;

        @media (min-width: $mobile) {
            max-width: rem(789);

            &:not(:last-child) {
                margin-right: rem(20);
            }
        }
    }

    // .faq__title
    &__title {
        flex: 1;

        @media (max-width: $mobile) {
            grid-row-start: 1;

            margin-bottom: rem(40);
        }
    }
}

// seo ------------------------------------------------------------------------------------------------------------------------------
.seo {
    @include adaptiveValue("margin-top", 100, 48);
    @include adaptiveValue("margin-bottom", 100, 48);

    // .seo__container
    &__container {
        display: grid;
        @include adaptiveValue("column-gap", 40, 20, 1520, 992, 1);
        row-gap: rem(48);

        @media (min-width: $mobile) {
            grid-template-columns: 1fr 1fr;
        }
    }

    // .seo__body
    &__body {
        max-height: rem(418);
        @extend %scrollbar;
    }

    // .seo__right
    &__right {
        max-width: rem(390);
        display: grid;
        gap: rem(48);
        grid-template-rows: 1fr;

        @media (min-width: $mobile) {
            margin-left: auto;
        }
    }

    // .seo__social
    &__social {
        @include adaptiveValue("font-size", 30, 17);
        line-height: math.div(36, 30);

        a {
            @extend %hoverUnderline;
        }
    }

    // .seo__contacts
    &__contacts {
        display: flex;
        align-items: center;

        & > * {
            &:not(:last-child) {
                margin-right: rem(40);
            }
        }
    }

    // .seo__link
    &__link {
        @extend %hoverUnderline;
        @include adaptiveValue("font-size", 18, 14);
    }

    // .seo__app-link
    &__app-link {
        @include adaptiveValue("font-size", 32, 24);
        position: relative;

        &:not(:last-child) {
            &::after {
                content: "";
                display: block;
                position: absolute;
                right: rem(-20);
                top: 50%;
                height: 200%;
                width: rem(1);
                background-color: $DGrey;
                transform: translateY(-50%) skewX(-15deg);
                pointer-events: none;
            }
        }

        &._icon-whatsapp {
            @include adaptiveValue("font-size", 34, 26);
        }
    }
}
